@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

:root {
    --radius: 0.625rem;
    --background: #ffeef2; /* Your custom background color */
    --foreground: #231f20;
    --card: #ffd9da;
    --card-foreground: #231f20;
    --primary: #fb6376; /* Example pink primary */
    --primary-foreground: #ffffff;
    --secondary: #fce7f3;
    --secondary-foreground: #231f20;
    --muted: #f9fafb;
    --muted-foreground: #6b7280;
    --accent: #fce7f3;
    --accent-foreground: #231f20;
    --destructive: #ef4444;
    --border: #e5e7eb;
    --input: #e5e7eb;
    --ring: #d946ef;
}

@theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
        font-family: "Noto Sans";
    }
}
